<nav class="navbar navbar-dark bg-dark mb-2">
  <form class="form-inline">
    <a href="/today"><button class="btn btn-outline-secondary" type="button">TODAY</button></a>
    <a href="/later"><button class="btn btn-sm btn-outline-secondary" type="button">later</button></a>
  </form>
    <form class="form-inline">
      <a href="/register"><button class="btn btn-sm btn-outline-secondary" type="button">Sing In</button></a>
      <a href="/login"><button class="btn btn-outline-success" type="button">Log In</button></a>
  </form>
</nav>
