<nav class="navbar navbar-dark bg-dark mb-2">
  <form class="form-inline">
    <a href="/today"><button class="btn btn-outline-secondary" type="button">TODAY</button></a>
    <button class="btn btn-sm btn-outline-success" type="button">later</button>
  </form>
    <form class="form-inline">
      <a href="/register"><button class="btn btn-sm btn-outline-secondary" type="button">Sing In</button></a>
      <a href="/login"><button class="btn btn-outline-success" type="button">Log In</button></a>
  </form>
</nav>

<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>
<div class="p-3 mb-2 bg-warning text-dark">Task ##</div>