<% provide :page_title, "Today" %>
<% currently_at "Today" %>

<% if user_signed_in? %>

  <%= render @tasks %>
  <div class="col d-flex">
    <%= render "tasks/new" %>
    <%= form_with url: new_day_path do %>
      <%= submit_tag "Start new day", class: "btn btn-outline-secondary me-2" %>
    <% end %>
  </div>
<% end %>